<h2>Lorem Ipsum</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-5 imagenInicio">
            <img src="assets/juguito.jpg" alt="juguito">
        </div>
        <div class="col-md-7 descripcion">
            <p>	
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis lacus massa. 
                Pellentesque consectetur congue elit eu semper. Curabitur justo augue, tempus sed metus id, maximus malesuada ante. 
                Nunc augue nibh, ultricies ut tortor vel, fermentum porttitor erat. Phasellus non commodo magna, quis euismod massa. Ut eu lectus id ligula auctor aliquam non quis turpis. 
                Fusce ut fermentum arcu. Duis posuere, diam non rhoncus interdum, nibh massa accumsan massa, id tempor mi purus a arcu. Vivamus et sodales nunc. 
                In blandit, elit sit amet porta mollis, tortor tellus pellentesque ante, id fermentum arcu lacus ut elit. Vivamus auctor id quam et porta. 
            </p>
            <p>	
                Nullam rutrum sem a tristique porttitor. Nunc metus velit, placerat sed ante ornare, imperdiet gravida dui. 
                Duis in massa non odio aliquam malesuada. In et dignissim nunc. Aliquam pharetra aliquam odio vitae porttitor. Phasellus scelerisque ac augue vestibulum congue. 
                Vestibulum a diam in est lacinia tempus. Aenean id commodo tellus. Sed ornare sollicitudin ligula, vestibulum dignissim ligula venenatis nec.
            </p>
        </div>
    </div>
</div>
